# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SSH_USER: ${{ secrets.SSH_USER }}

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Adding Known Hosts
        run: mkdir -p ~/.ssh/ && touch ~/.ssh/known_hosts && ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ env.SSH_PRIVATE_KEY }}
          known_hosts: ${{ env.SSH_HOST }}

      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache --check-cache
      - run: yarn build

      - name: Deploy node_modules with rsync
        run: rsync -avz ./node_modules "${SSH_USER}@${SSH_HOST}:/home/${SSH_USER}/altcash-backend-staging/"
      - name: Deploy with rsync
        run: rsync -avz ./dist/ "${SSH_USER}@${SSH_HOST}:/home/${SSH_USER}/altcash-backend-staging/"
